/* You can add global styles to this file, and also import other style files */
// @import '~primeng/resources/themes/vela-orange/theme.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css");

// @mixin set-theme($theme) {
//   @import '~primeng/resources/themes/#{$theme}/theme.css';
// }

body.saga-blue {
  background-color: #ccc7c7;
  color: black;
}

body.fluent-light {
  background-color: #ccc7c7;
  color: black;
}

body.vela-orange {
  background-color: #2c3e50;
  color: white;
}

body.arya-orange {
  background-color: #121212;
  color: white;
}

body.md-dark-indigo {
  background-color: #121212;
  color: white;
}

